<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Customoption>
            <version>0.1.1</version>
        </Magebuzz_Customoption>
    </modules>
    <frontend>
        <routers>
            <customoption>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Customoption</module>
                    <frontName>customoption</frontName>
                </args>
            </customoption>
        </routers>
        <layout>
            <updates>
                <customoption>
                    <file>customoption.xml</file>
                </customoption>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customoption>
				<use>admin</use>
				<args>
					<module>Magebuzz_Customoption</module>
					<frontName>customoption</frontName>
				</args>
			</customoption>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<customoption>
					<file>customoption.xml</file>
				</customoption>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customoption>
                <class>Magebuzz_Customoption_Model</class>
                <resourceModel>customoption_mysql4</resourceModel>
            </customoption>
            <customoption_mysql4>
                <class>Magebuzz_Customoption_Model_Mysql4</class>
                <entities>
                    <customoption>
                        <table>default_option_value</table>
                    </customoption>
                </entities>
            </customoption_mysql4>
        </models>
        <resources>
            <customoption_setup>
                <setup>
                    <module>Magebuzz_Customoption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customoption_setup>
            <customoption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customoption_write>
            <customoption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customoption_read>
        </resources>
        <blocks>
            <customoption>
                <class>Magebuzz_Customoption_Block</class>
            </customoption>
			<catalog>
				<rewrite>
					<product_view_options_type_select>Magebuzz_Customoption_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
				</rewrite>
			</catalog>
        </blocks>
        <helpers>
            <customoption>
                <class>Magebuzz_Customoption_Helper</class>
            </customoption>
        </helpers>
    </global>
</config>